body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(11, 48, 83);
    color:blanchedalmond
    margin: 0;
    padding: 0;
    text-align: center;
}
header{
    background-color: white;
    padding: 0.3rem;
    font-size: 15px;
}
section{
    padding: 70px;
}
p{
    line-height: 1.6px;
}
footer{
    color:white
    padding: 0.1rem;
}
#calculator{
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 8px;
    max-width: 300px;
    margin: auto;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(5, 28, 105, 0.1);

}
button{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;

}
#display{
    grid-column: span 4;
    margin-bottom: 8px;
    padding: 8px;
    font-size: 20px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}